{% extends "class/base.html" %} {% load static %} {% block title %} {% for classroom in classrooms %}
{% if classroom.passcod.passcode == pswd %} {% filter upper %} {{ classroom.classname }} {% endfilter %} {% endif %}
{% endfor %} {% endblock %}

<!-- Block body -->

{% block body %}

<p align="center">We're sorry to see this :(</p>



<div>
    <img src="{% static 'images/error.svg' %}" height="300" width="300" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title text-center font-italic">You were logged out successfully!</h5>
    </div>
</div>
{% endblock %}
