{% extends "class/base.html" %} {% block title %} Register {% endblock %} {% block body %}
<div class="login-form">
    {% if form.errors %}
    <p>There's something wrong with what you entered!</p>
    {% endif %} {% if next %}
    <p>Hey, you can't access that page.</p>
    {% endif %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <!-- <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <span class="txt1 p-b-11">
                Username
            </span>
            <p class="form-control">{{ form.username }}</p>
        </div>
        <div class="form-group">
            <span class="txt1 p-b-11">
                Password
            </span>
            <p class="form-control">{{ form.password }}</p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" value="login">Log in</button>
        </div>
        <div class="clearfix">
            <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
            <a href="#" class="float-right">Forgot Password?</a>
        </div> -->
        <h2 class="text-center">Register</h2>
        {{ form }}
        {{ profile_form }}
        <input type="submit" class="btn btn-primary btn-block mt-2" value="Register">
    </form>
    <p class="text-center"><a href="/accounts/login">Already have account? Login</a></p>
</div>
{% endblock %}