{% extends "classnote/base.html" %} {% load static %} {% block title %} Classroom {% endblock %} {% block body %}

<!-- <img src="{% static 'images/create.svg' %}" class="mx-auto d-block" style="height: 450px; width: 60%;"> -->



<div class="container text-center margin_y ">

    {% if user.is_authenticated %}
    <div class="modal-body row">
        <div class="col-md-6 mtop ">
            <h2 class="botn3">Welcome to the alternative Learning</h2>
            <p class="botn3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="text-center margin_y">
                <button type="button" class="btn" onclick="window.location.href='/create'">
                    <span>Create a Class</span>
                </button>
                <button type="button" class="btn botn2" onclick="window.location.href='/join/{{ user.profile.pk }}/'">
                    <span>Join a Class</span>
                </button>
            </div>
        </div>
        <div class="col-md-6 ">
            <!-- Your second column here -->
            <img src="{% static 'images/undraw_true_friends_c94g.svg' %}" class="mx-auto d-block" style="height: 400px; width: 100%;">
        </div>
    </div>
    <!-- <h2>You name is: {{ user.username }}</h2> -->
    <!-- <button class="m-5 btn inner bordered " onclick="window.location.href='/create'"><i class="fa fa-plus"></i> Create Class</button>
    <button class="btn inner m-5 bordered " onclick="window.location.href='/join'"><i class="fa fa-plus"></i> Join Class</button>  -->
    {% else %}
    <h2>You are not logged in.</h2>
    <p> <u><a href="{% url 'login' %}" class="text-primary">Login</a></u> to get full access to the classroom.</p>
    <img src="{% static 'images/undraw_refreshing_beverage_td3r.svg' %}" class="img-fluid" style="height: 250px; width: 100%;"> 
    {% endif %}
</div>
{% endblock %}
