{% extends "base.html" %} {% load static %} {% block title %} Bootstrap Example {% endblock %} {% block body %}

<img src="{% static 'images/create.svg' %}" class="mx-auto d-block" style="height: 450px; width: 60%;">



<div class="container text-center margin_y ">

    {% if user.is_authenticated %}
    <h2>You name is: {{ user.username }}</h2>
    <button class="m-5 btn inner bordered " onclick="window.location.href='/create'"><i class="fa fa-plus"></i> Create Class</button>
    <button class="btn inner m-5 bordered " onclick="window.location.href='/join'"><i class="fa fa-plus"></i> Join Class</button> {% else %}
    <h2>You are not logged in.</h2>
    {% endif %}



</div>
{% endblock %}