{% extends "class/base.html" %} {% load static %} {% block title %} Join a Class {% endblock %} {% block body %}
<form action="." method="post">
    {% csrf_token %}

    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
        <p class="text-center">
        <div class="alert alert-{{msg.level_tag}} text-center" role="alert">
            {{msg.message}}
        </div>
        </p>
        {% endfor %}
    </ul>
    {% endif %}

    {{form.as_p}}

    <button type="submit" class="btn btn-primary">Let's Join</button>
</form>
{% endblock %}