{% extends "class/base.html" %}
{% load static %}

{% block title %}
{{ user.username }}'s classes
{% endblock %}

{% block body %}
{% include 'class/messages.html' %}
<div class="container ">
    <div class="card mb-3 mt-3">
        <img src="{% static 'images/8.png' %}" class="card-img-top" alt="...">
        {% for class in object_list %}
        <div class="card-body">
            <h5 class="card-title text-uppercase">{{ class.classname }}</h5>
            <h7 class="card-title text">Class managed & mentored by : {{ class.creator }}</h7>
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
